{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="card card-auth my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">ログイン</h5>
    <form method="post" class="form-auth">
      {% csrf_token %}
      <div class="form-label-group">
        {% render_field form.login class="form-control" placeholder="メールアドレス" %}
      </div>
      <div class="form-label-group">
        {% render_field form.password class="form-control" placeholder="パスワード" %}
      </div>
      <div class="button mx-auto">
        <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">ログイン</button>
      </div>
    </form>
    <div class="card-body text-center p-0 pt-5">
      <a class="line-login py-2 px-5" href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={{ channel_id }}&redirect_uri={{ redirect_url }}&state={{ random_state }}&bot_prompt=aggressive&scope=profile%20openid%20email">LINEでログイン</a>
    </div>
  </div>
</div>
{% endblock %}